{
  "root": true,
  "extends": [
    "eslint-config-wuif"
  ],
  "rules": {
    "testing-library/no-container": 0,
    "testing-library/no-node-access": 0,
    "testing-library/prefer-presence-queries": 0
  }
}
